/* ===== Colors ===== */
:root {
--primary-color: #1F191B;
--secondary-color: #CFBF84;
--tertiary-color: #F3BB5C; 
--quarternary-color: #FCF5E5;
--quinary-color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 12rem;
    grid-template-rows: 5rem 1fr;
    grid-template-areas:
    "header header"
    "content sidebar";

    background-image: linear-gradient(var(--quinary-color) 50%, var(--quarternary-color));
}


/* ===== Header ===== */
.header {
    grid-area: header;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.header-left {
    padding-left: 2.5rem;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    display: flex;
    justify-content: center;

    display: flex;
    flex-direction: column;
    color: var(--quinary-color);
}

.header-left > .logo-sub {
    letter-spacing: 0.5rem;
    font-size: 16px;
    color: var(--tertiary-color);
}

.header-right {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right > button {
    width: 6rem;
    height: 2rem;

    color: var(--quinary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;

    cursor: pointer;
}

.header-right > button:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}


/* ===== Sidebar ===== */
    .sidebar {
    grid-area: sidebar;
    background-image: linear-gradient(var(--primary-color) 20%,var(--tertiary-color) 110%);
    padding: 1.5rem 1rem 1rem 1rem;
    margin: 0.75rem;
    gap: 1rem;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: var(--quinary-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}

.sidebar > input {
    border: none;
    border-radius: 10px;
    height: 1.75rem;
    width: 100%;
    background-color: var(--quinary-color);
}

.sidebar > input::placeholder  {
    padding: 0.5rem;
    letter-spacing: 1px;
}

.sidebar > button {
    justify-self: center;
    align-self: center;

    height: 2.25rem;
    width: 90%;

    border-radius: 7.5px;
    border: 1px solid var(--tertiary-color);

    color: var(--quinary-color);
    background-color: var(--primary-color);

    cursor: pointer;
}

.sidebar > button:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

.sidebar-link {
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.sidebar-link:hover {
    transform: scale(1.05);
}


/* ===== Main Content ===== */
.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);

    justify-items: center;
    padding-top: 1rem;

    overflow: scroll;

    grid-area: content;
}

.card {
    width: 25rem;
    height: 15rem;
    
    padding: 0 10px 0 10px;
    margin: 15px;

    box-shadow: var(--primary-color) 0px 2px 5px;

    border-radius: 10px;
    border: 1px solid var();
    color: var(--primary-color);
    background-image: linear-gradient(160deg, var(--primary-color) 35%, var(--tertiary-color) 200%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.01);
}

.card > .card-heading {
    width: 95%;
    height: 4rem;
    margin-top: 1rem;
    letter-spacing: 0.3rem;
    font-size: 16;

    color: var(--tertiary-color);

    display: flex;
    justify-content: center;
    align-items: flex-start;

    border: 1px solid white;
}

.card > .card-heading > h2 {
    margin: 0.1rem;
    font-size: 1.5rem;
    text-align: center;
    
    overflow: hidden;
}

.card > .card-content {
    width: 90%;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.card > .card-content > p {
    margin: 0;
    padding: 0;
}

.card > .card-btn {
    margin-bottom: 0.75rem;

    display: flex;
    gap: 1rem;
}

.card > .card-btn > #book-remove-btn,
.card > .card-btn > #favorite-btn {
    height: 1.5rem;

    background-color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
    color: var(--quarternary-color);

    cursor: pointer;
}

.read {
    height: 2rem;
    width: 50%;
    border: none;
    border-radius: 5px;

    color: var(--primary-color);
    background-color: rgb(22, 222, 22);

    cursor: pointer;
}

.read:hover {
    background-color: rgb(49, 149, 49);
}

.not-read {
    height: 2rem;
    width: 50%;
    border: none;
    border-radius: 5px;

    color: var(--primary-color);
    background-color: rgb(244, 44, 44);

    cursor: pointer;
}
.not-read:hover {
    background-color: rgb(204, 44, 44);
}


/* ===== Add Book Form ===== */
.form-overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
}

.form-popup {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 22.5rem;
    padding: 1rem;

    border: 1px solid var(--primary-color);
    border-radius: 15px;
    background-image: linear-gradient(135deg, var(--tertiary-color), var(--primary-color));
    color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}

#close-form {
    border: none;
    border-radius: 25px;
    color: var(--primary-color);

    height: 1rem;
    width: 1rem;

    font-weight: bold;

    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#close-form:hover {
    color: var(--quarternary-color);
}

.form-popup > h2 {
    margin-top: 0;
}

.form-popup > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    letter-spacing: 0.1rem;
}

.form-popup > form > .form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-popup > form > .form-row > label {
    padding-left: 0.25rem;
}

.form-popup > form > .form-row > #title,
.form-popup > form > .form-row > #author,
.form-popup > form > .form-row > #pages {
    width: 100%;
    height: 1.5rem;
    background-color: var(--quarternary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;

    display: flex;
}

.form-popup > form > .form-row > #title::placeholder,
.form-popup > form > .form-row > #author::placeholder,
.form-popup > form > .form-row > #pages::placeholder {
    padding-left: 0.25rem;
    justify-self: center;
    align-self: center;
}

.form-popup > form > .form-row > #read {
    cursor: pointer;
}

.form-popup > form > .btn-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-popup > form > .form-row > button {
    width: 50%;
    height: 2.5rem;
    background-color: var(--quarternary-color);
    color: var(--primary-color);

    border: 1px solid var(--primary-color);
    border-radius: 5px;
    
    justify-self: center;
    cursor: pointer;
}

.form-popup > form > .form-row > button:hover {
    background-color: var(--primary-color);
    color: var(--quarternary-color);
    border: 1px solid var(--tertiary-color);
}

/* ===== Confirmation Popup ===== */
.remove-confirm {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
}

.remove-confirm-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 7.5rem;

    border: 1px solid var(--primary-color);
    border-radius: 15px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}